

h4,h3,h2,h1{
    font-family: 'Fredoka One', cursive;
}

.background-image{
    background-image: url('/img/bg.png');
    height: 100vh;
}
nav.color{
    background-color: #e8ac19;
}

.color-texto{
    color: #dc3545;
}

@media (max-width: 895px) {
    
    .color-texto{
        color: black;
    }
  }
